$dodgerBlue: #3893FF;
$pageBackgroundColor: #373c41;
$cardColor: #282a2d;
$textColor: white;

@font-face {
  font-family: "Anurati";
  src: url("/fonts/anurati/Anurati-Regular.otf") format("opentype");
}
@import 'main_page/main_page.scss';
@import 'index.scss';